    <!-- Add event tasks -->
    <div class="row mb-3 justify-content-center">
      <h2>Add Volunteer Tasks</h2>
    </div>

    <form class="justify-content-center d-flex mb-3">
      <div class="input-group col-md-6 mb-3">
        <input type="text" class="form-control" placeholder="Add volunteer task..." aria-label="Volunteer task" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-light" type="button" id="button-addon2">Add Task</button>
        </div>
      </div>
    </form>

    <div class="row justify-content-center">
      <div class="card" style="width: 24rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item py-1">Parking</li>
          <li class="list-group-item py-1">Tickets</li>
          <li class="list-group-item py-1">Security</li>
        </ul>
      </div>
    </div>
