
<div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <a href="/event/{{id}}"><h4 data-event_id="{{id}}" class="card-title text-uppercase font-weight-bold">{{event_name}}</h4></a>
      <hr>
    </div>
    <div class="list-group">
        {{#each tasks as |task|}}
        {{> task-details}}
        {{/each}}
    </div>
</div>




