<section class="card">
  <a href="/event/{{id}}">
    <header>{{event_name}}</header>
    <img src="/images/{{images.[0].filename}}" alt="{{images.[0].description}}">
  </a>
  <p>Volunteer Tasks</p>
  {{#each task as |task|}}
  {{> task-details}}
  {{/each}}
</section>



