
<div class="card text-center mb-3 w-100">
    <div class="card-body">
      <a href="/event/{{id}}"><h3 data-event_id="{{id}}" class="card-title text-uppercase font-weight-bold">{{event_name}}</h3></a>
      <hr>
    </div>
    <div class="list-group">
        {{#each tasks as |task|}}
        {{> task-details}}
        {{/each}}
    </div>
</div>




