    <div class="container">
        <img src="../public/images/volunteer.png" class="img-fluid mb-5" alt="Responsive image">
    </div>
    <section class="flex-row justify-center">

    {{#each events as |event|}}
    {{> event-details}}
    {{/each}}

    </section>
