    <img src="/images/volunteer.png" class="img-fluid mb-5" alt="Responsive image">

    {{> event-details}}


    <p class="card-text font-italic">To volunteer click on an available volunteer position below.</p>
