<!-- Add event tasks -->
<div class="row mb-3 justify-content-center">
  <h2>Add Volunteer Tasks</h2>
</div>

<form class="task-form justify-content-center d-flex mb-3">
  <div class="input-group col-md-6 mb-3">
   {{!-- <div class="form-group"> --}}
    <label for="task-body">Name</label>
    <input type="text" class="form-control" id="task-body" placeholder="Task Name">
    </div>
    <div class="input-group-append">
      <button class="btn btn-outline-light" type="button" id="button-addon2">Add Task</button>
    </div>
  {{!-- </div> --}}
</form>

{{!-- <div class="row justify-content-center">
  <div class="card" style="width: 24rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item py-1">Parking</li>
      <li class="list-group-item py-1">Tickets</li>
      <li class="list-group-item py-1">Security</li>
    </ul>
  </div>
</div> --}}

<script src="/js/newTask.js"></script>