  :root {
    --turquoise: #73EEDC;
    --deepSpace: #4B6A73;
    --teal: #58878C;
    --black: #04030F;
    --charcoal: #3D4C59;
    --white: #FFFFFF;
  }


  body {
    font-family: Raleway, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    background-color: var(--teal);
  }

  main {
    color: var(--white);
    background-color: var(--teal);
  }

  * {
    box-sizing: border-box;
  }
  
  /* general */
  
  h1,
  h2,
  h3
   {
    margin-bottom: 20px;
  }
  
  h1,
  h2,
  h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
  }
  
  h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
  }
  
  h2,
  h3 {
    font-size: 22px;
  }
  
  /* header */
  
  .card {
    color: var(--black);
    background-color: var(--white);

  }
  .navbar {
    background-color: var(--deepSpace);
    /* background: url("/images/handtree.jpg"); */

  }
  .navbar-brand {
    height: 75px;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    color: var(--white);
    text-align: center;
    text-decoration: none;
  }
  
  
  #navbar-links a {
    line-height: 0px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
    margin-top: 30px;
  }
  /* jumbotron */
  .jumbotron {
    color: var(--white);
    background-color: var(--teal);
  }
  /* events gallery */
  .events {
    flex: 4;
    background-color: var(--teal);
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  /* footer */

  /* .footer-margin {
    height: 100px;
  } */

  /* FA icons */

  /* Jon's advised css */
  .fa-calendar {
    font-size: 15pt;
  } 
​
  .input-group {
    width: 180px;
    margin-top: 30px;
  }
 

  .icon i{
    position: absolute;
    left: 15px;
    top: 40px;
    color: gray;
  }
